* {
  margin: 0%;
  padding: 0%;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container1 {
  width: 570px;
  height: 400px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 2px 1px 10px 1px;
}
.box1 {
  width: 270px;
  height: 400px;

  background-image: linear-gradient(
    to top,
    hsl(241, 70%, 49%),
    hsl(252, 100%, 67%)
  );
  border-radius: 20px;
  display: block;

  color: aliceblue;
}
#head1 {
  display: block;
  text-align: center;
  padding-top: 7%;
}
#circle {
  width: 150px;
  height: 150px;
  background-image: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  display: block;
  border-radius: 75px;
  position: relative;
  padding-top: 2%;
  top: 1.5rem;
  left: 60px;
}
h1 {
  display: block;
  font-size: 55px;
  font-family: system-ui;
  text-align: center;
  padding-top: 21px;
  margin: 0%;
}
.heading1 {
  text-align: center;
  padding-bottom: 30px;
  font-size: medium;
  color: hsl(241, 100%, 89%);
}
#heading2 {
  display: block;
  text-align: center;
  font-size: 35px;
  margin-top: 3rem;
}
#para1 {
  display: block;
  font-size: 1.2rem;
  margin-right: 30px;
  margin-left: 2.8rem;
  padding-top: 1rem;
}
.box2 {
  padding-left: 25px;
}

.box3 {
  display: flex;
  width: 250px;
  height: 50px;
  color: pink;
  margin-top: 1.5rem;
  align-items: center;
  background-color: hsla(0, 23%, 95%, 0.562);
  border-radius: 5px;
  font-size: 16px;
  gap: 1.5rem;
}
.para2 {
  position: relative;
  left: 55px;
  color: black;
}
.para3 {
  position: relative;
  left: 68px;
  color: black;
}
.material-symbols-outlined {
  display: inline-block;
  position: relative;
  margin-left: 0.6rem;
}
.box4 {
  display: flex;
  width: 250px;
  height: 50px;
  color: rgba(137, 137, 40, 0.804);
  align-items: center;
  background-color: hsl(40, 45%, 94%);
  border-radius: 5px;
  margin-top: 5%;
  font-size: 16px;
  gap: 1.5rem;
}

.box5 {
  display: flex;
  width: 250px;
  height: 50px;
  color: rgba(86, 198, 159, 0.804);
  align-items: center;
  background-color: hsl(166, 48%, 89%);
  border-radius: 5px;
  margin-top: 5%;
  font-size: 16px;
  gap: 1.5rem;
}

.box6 {
  display: flex;
  width: 250px;
  height: 50px;
  color: rgba(116, 165, 234, 0.804);
  align-items: center;
  background-color: hsl(233, 52%, 90%);
  border-radius: 5px;
  margin-top: 5%;
  font-size: 16px;
  gap: 1.5rem;
}

button {
  width: 250px;
  height: 50px;
  display: block;
  align-items: start;
  margin-top: 15px;
  border: none;
  border-radius: 50px;
  color: aliceblue;
  font-size: 20px;
}
@media (max-width: 700px) {
  .container {
    height: 100%;
  }
  .container1 {
    flex-direction: column;
    height: 800px;
  }
  .box2 {
    padding: 0%;
    margin-top: 20px;
  }
  .heading3 {
    margin-bottom: 20px;
  }
}
